services:
  hamburg:
    image: {{ registry_domain }}/hamburg-map:latest
    container_name: hamburg-game
    restart: always
    env_file: .env
    environment:
      - VIRTUAL_HOST=hamburg.spielstu.be
      - VIRTUAL_PORT=3001
      - LETSENCRYPT_HOST=hamburg.spielstu.be
    volumes:
      - hamburg-data:/app/game/data
    networks:
      - proxy

volumes:
  hamburg-data:

networks:
  proxy:
    external: true
